altair
pandas
numpy
streamlit
matplotlib
seaborn
docx2txt
pdfplumber
datetime
textblob
neattext
PyPDF2
wordcloud
spacy>=3.0.0,<4.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
mutagen
tinytag
pillow
exifread
sqlite3